.user-card {
  height: 325px;
  width: 300px;
  border: 2px solid #61dafb;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* button {
  bottom: 20px;
} */
