.profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-info > img {
  height: 125px;
  width: 125px;
}

.profile-info > h2 {
  margin: 20px 0 0 0;
}

.profile-info > h4 {
  margin: 10px 0 30px 0;
}

